<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<div id="main" style="width: 600px; height: 300px; border-width: 1px; border-style: solid; margin-left:auto; margin-right: auto;">
  <div id="imagecnt">
    <div id="image">
      <img alt="pic of me" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/947224_4105643697660_383868738_n.jpg?oh=15258cb9697c8073126304efec70a550&oe=558F915B&__gda__=1435205092_4d639aa539cd05e3b5fa87bdb6a5214d" style="width: 250px; height: 270px; border-width: 2px; border-style: solid; margin: 10px; float: left;" />
    </div>
  </div>
  <div id="info" style=" width: 300px; height: 300px; margin-right: 10px; float:right;">
      <div id="name">
        <h1>
          <strong>Anthoney Whyte</strong>
        </h1>
      </div>

      <div id="timedate">
           <p>
              <h4>{{time}}</h4>
          </p>
      </div>

      <div id="cred" style="line-height:15%;">
        <p><b>Username:</b> Blanco</p>
        <p><b>ID:</b> 620025070</p>
        <p><b>Sex:</b> Male</p>
        <p><b>Age:</b> 23</p>
        <p><b>Sport:</b> Football</p>
        <p><b>Position:</b> Center Attacking Mid</p>
       </div>
   </div>
</div>
</body>

</html>